<div class="jumbotron" ng-controller="clientController">
  <h3>Novo cliente</h3>
  <form name="clientForm">
    <input
      class="form-control"
      type="text"
      ng-model="client.name"
      placeholder="Nome"
      name="name"
      ng-required="true"
    />
    <input
      class="form-control"
      type="text"
      ng-model="client.adress"
      placeholder="Endereço"
      name="adress"
      ng-required="true"
    />
    <input
      class="form-control"
      type="text"
      ng-model="client.phone"
      placeholder="Telefone"
      name="phone"
      ng-required="true"
    />
    <input
      class="form-control"
      type="email"
      ng-model="client.email"
      placeholder="Email"
      name="email"
      ng-required="true"
    />
  </form>
  <div
    ng-show="clientForm.name.$error.required && clientForm.name.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o nome!
  </div>
  <div ng-show="clientForm.name.$error.minlenght" class="alert alert-danger">
    O nome deve possuir mais de 5 caracteres!
  </div>
  <div
    ng-show="clientForm.adress.$error.required && clientForm.adress.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o endereço!
  </div>
  <div
    ng-show="clientForm.phone.$error.required && clientForm.phone.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o telefone!
  </div>
  <div
    ng-show="clientForm.email.$error.required && clientForm.email.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o email!
  </div>
  <div
    ng-show="clientForm.email.$invalid && clientForm.email.$dirty"
    class="alert alert-danger"
  >
    Por favor, preencha o email no formato correto!
  </div>
  <div>
    <button
      class="btn btn-primary btn-block"
      ng-click="addClient(client)"
      ng-disabled="clientForm.$invalid"
    >
      Adicionar cliente
    </button>
  </div>
</div>
