<div class="jumbotron" ng-controller="orderStatusController">
    <h3>Nova situação de Ordem</h3>
<form name="orderStatusForm">
            <input class="form-control" type="text" ng-model="orderStatus.description" placeholder="Descrição" name="decription" ng-required="true">
        </form>
        <div ng-show="orderStatusForm.description.$error.required && orderStatusForm.description.$dirty" class="alert alert-danger">
            Por favor, preecha a descricao!
        </div>
        <button class="btn btn-primary btn-block" ng-click="addOrderStatus(orderStatus)" ng-disabled="orderStatusForm.$invalid">Adicionar nova situação de ordem</button>
    </div>
</div>