<div class="jumbotron" ng-controller="serviceOrderController">
  <h3>Nova ordem de serviço</h3>
  <form name="serviceOrderForm">
    <input
      class="form-control"
      type="text"
      ng-model="serviceOrder.itemName"
      placeholder="Nome do item"
      name="itemName"
      ng-required="true"
    />
    <input
      class="form-control"
      type="text"
      ng-model="serviceOrder.itemProblem"
      placeholder="Defeito do item"
      name="itemProblem"
      ng-required="true"
    />
    <select
      class="form-control"
      ng-controller="orderStatusController"
      ng-model="serviceOrder.orderStatus.id"
      ng-options="orderStatus.id as orderStatus.description for orderStatus in orderStatuses"
      name="orderStatus"
      ng-required="true"
    >
      <option value="">Selecione o estado da ordem</option>
    </select>
    <select
      class="form-control"
      ng-controller="itemTypeController"
      ng-model="serviceOrder.itemType.id"
      ng-options="itemType.id as itemType.description for itemType in itemTypes"
      name="itemType"
      ng-required="true"
    >
      <option value="">Selecione o tipo de item</option>
    </select>
    <select
      class="form-control"
      ng-controller="clientController"
      ng-model="serviceOrder.customer.id"
      ng-options="client.id as client.name for client in clients"
      name="customer"
      ng-required="true"
    >
      <option value="">Selecione o cliente</option>
    </select>
  </form>
  <div
    ng-show="serviceOrderForm.name.$error.required && customerForm.name.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o nome!
  </div>
  <div
    ng-show="serviceOrderForm.adress.$error.required && customerForm.adress.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o endereco!
  </div>
  <div
    ng-show="serviceOrderForm.phone.$error.required && customerForm.phone.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o telefone!
  </div>
  <div
    ng-show="serviceOrderForm.email.$error.required && customerForm.email.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o email!
  </div>

  <button
    class="btn btn-primary btn-block"
    ng-click="addServiceOrder(serviceOrder)"
    ng-disabled="customerForm.$invalid"
  >
    Criar nova orderm
  </button>
</div>

<div
