<div class="jumbotron" ng-controller="serviceOrderController">
  <h3>Nova ordem de serviço</h3>
  <form name="serviceOrderForm">
    <input
      class="form-control"
      type="text"
      ng-model="serviceOrder.itemName"
      placeholder="Nome do item"
      name="itemName"
      ng-required="true"
    />
    <input
      class="form-control"
      type="text"
      ng-model="serviceOrder.itemProblem"
      placeholder="Defeito do item"
      name="itemProblem"
      ng-required="true"
    />
    <select
      class="form-control"
      ng-controller="orderStatusController"
      ng-model="serviceOrder.orderStatus.id"
      ng-options="orderStatus.id as orderStatus.description for orderStatus in orderStatuses"
      name="orderStatus"
      ng-required="true"
    >
      <option value="">Selecione o estado da ordem</option>
    </select>
    <select
      class="form-control"
      ng-controller="itemTypeController"
      ng-model="serviceOrder.itemType.id"
      ng-options="itemType.id as itemType.description for itemType in itemTypes"
      name="itemType"
      ng-required="true"
    >
      <option value="">Selecione o tipo de item</option>
    </select>
    <select
      class="form-control"
      ng-controller="clientController"
      ng-model="serviceOrder.customer.id"
      ng-options="client.id as client.name for client in clients"
      name="customer"
      ng-required="true"
    >
      <option value="">Selecione o cliente</option>
    </select>
  </form>
  <div
    ng-show="serviceOrderForm.itemName.$error.required && serviceOrderForm.itemName.$dirty"
    class="alert alert-danger"
  >
    Por favor, preecha o nome do item!
  </div>
  <div
    ng-show="serviceOrderForm.itemProblem.$error.required && serviceOrderForm.itemProblem.$dirty"
    class="alert alert-danger"
  >
    Por favor, descreeva o problema do item!
  </div>
  <div
    ng-show="serviceOrderForm.orderStatus.$error.required && serviceOrderForm.orderStatus.$dirty"
    class="alert alert-danger"
  >
    Por favor, selecione o estado da ordem!
  </div>
  <div
    ng-show="serviceOrderForm.itemType.$error.required && serviceOrderForm.itemType.$dirty"
    class="alert alert-danger"
  >
    Por favor, selecione o tipo do item!
  </div>
  <div
    ng-show="serviceOrderForm.customer.$error.required && serviceOrderForm.customer.$dirty"
    class="alert alert-danger"
  >
    Por favor, selecione o cliente!
  </div>

  <button
    class="btn btn-primary btn-block"
    ng-click="addServiceOrder(serviceOrder)"
    ng-disabled="serviceOrderForm.$invalid"
  >
    Criar nova orderm
  </button>
</div>

<div
