<div ng-controller="sobtController">
<form name="serviceOrderForm">
            <input class="form-control" type="text" ng-model="serviceOrder.nome" placeholder="Nome" name="nome" ng-required="true">
            <input class="form-control" type="text" ng-model="serviceOrder.telefone" placeholder="Telefone" name="telefone" ng-required="true">
            <select class="form-control" ng-model="serviceOrder.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" name="operadora" ng-required="true">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>
        <div ng-show="serviceOrderForm.nome.$error.required && serviceOrderForm.nome.$dirty" class="alert alert-danger">
            Por favor, preecha o nome!
        </div>
        <div ng-show="serviceOrderForm.telefone.$error.required && serviceOrderForm.telefone.$dirty" class="alert alert-danger">
            Por favor, preecha o telefone!
        </div> 
        <div ng-show="serviceOrderForm.operadora.$error.required && serviceOrderForm.operadora.$dirty" class="alert alert-danger">
            Por favor, preecha a operadora!
        </div>
        <button class="btn btn-primary btn-block" ng-click="adicionarserviceOrder(serviceOrder)" ng-disabled="serviceOrderForm.$invalid">Adicionar serviceOrder</button>
    </div>