<div>
  <nav class="navigation">
    <ul class="mainmenu">
      <li>
        <a href="">Clientes</a>
        <ul class="submenu">
          <li><a href="#!/newclient">Adicionar Cliente</a></li>
          <li><a href="#!/clients">Visualizar Clientes</a></li>
        </ul>
      </li>
      <li>
        <a href="">Ordens</a>
        <ul class="submenu">
          <li><a href="#!/neworder">Adicionar Ordem</a></li>
          <li><a href="#!/orders">Visualizar Ordens</a></li>
        </ul>
      </li>
      <li>
        <a href="">Tipos de itens</a>
        <ul class="submenu">
          <li><a href="#!/newitemtype">Adicionar tipo de Item</a></li>
          <li><a href="#!/itemtypes">Visualizar tipos de Itens</a></li>
        </ul>
      </li>

      <li>
        <a href="">Situações de ordens</a>
        <ul class="submenu">
          <li><a href="#!/neworderstatus">Adicionar situação de ordem</a></li>
          <li><a href="#!/orderstatuses">Visualizar situações de ordens</a></li>
        </ul>
      </li>
      <li><a href="">Entre em contato</a></li>
    </ul>
  </nav>
</div>
