<div class="jumbotron">
  <h3>Ordens de serviço</h3>

  <input
    type="text"
    class="form-control"
    ng-model="searchParameter"
    placeholder="Pesquisar..."
  />
  <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Cliente</th>
      <th>Produto</th>
      <th>Defeito</th>
      <th>Categoria</th>
      <th>Situacao</th>
      <th></th>
    </thead>
    <tr
      ng-class="{selected: serviceOrder.selected}"
      ng-repeat="serviceOrder in serviceOrders | filter: searchParameter"
      ng-include="getTemplate(serviceOrder)"
    ></tr>
  </table>

  <script type="text/ng-template" id="display">
      <td>{{ serviceOrder.id }}</td>
      <td>{{ serviceOrder.customer.name }}</td>
      <td>{{ serviceOrder.itemName }}</td>
      <td>{{ serviceOrder.itemProblem }}</td>
      <td>{{ serviceOrder.itemType.description }}</td>
      <td>{{ serviceOrder.orderStatus.description }}</td>
      <td>
        <div style="width: 20px; height: 20px;"></div>
      </td>
      <td>
        <button type="button" class="btn btn-primary btn-primary" ng-click="editServiceOrder(serviceOrder)">Editar</button>
        <button
      class="btn btn-danger"
      ng-click="deleteServiceOrder(serviceOrder)"
    >
      Apagar
    </button>
      </td>
  </script>

  <script type="text/ng-template" id="edit">
    <td>{{ serviceOrder.id }}</td>
    <td><select
      class="form-control input-sm"
      ng-controller="clientController"
      ng-model="serviceOrder.customer.id"
      ng-options="client.id as client.name for client in clients"
      name="customer"
      ng-required="true"
    >
      <option value="">Selecione o cliente</option>
    </select></td>
    <td><input type="text" ng-model=serviceOrder.itemName class="form-control input-sm"/></td>
    <td><input type="text" ng-model=serviceOrder.itemProblem class="form-control input-sm"/></td>
    <td><select
      class="form-control input-sm"
      ng-controller="itemTypeController"
      ng-model="serviceOrder.itemType.id"
      ng-options="itemType.id as itemType.description for itemType in itemTypes"
      name="itemType"
      ng-required="true"
    >
      <option value="">Selecione o tipo de item</option>
    </select></td>
    <td><select
      class="form-control input-sm"
      ng-controller="orderStatusController"
      ng-model="serviceOrder.orderStatus.id"
      ng-options="orderStatus.id as orderStatus.description for orderStatus in orderStatuses"
      name="orderStatus"
      ng-required="true"
    >
      <option value="">Selecione o estado da ordem</option>
    </select></td>
    <td>
      <div class="btn-group">
     <button type="button" class="btn btn-primary" ng-click="updateServiceOrder(serviceOrder)">Salvar</button>
     <button type="button" class="btn btn-danger" ng-click="reset()">Cancelar</button>
     </div>
    </td>
  </script>

  <hr />
</div>
